.menu_button {
    border: none;
    background: none;
    font-size: 1.3rem;
    padding: 0 20px 0 20px;
    height: 3rem;
    transition: 120ms background-color ease-in-out;
}

.menu_button:hover {
    background-color: #DBC4F0;
}

.order_now_button {
    background: #D4E2D4;
    border: darkseagreen 5px solid;
    height: 100px;
    width: 300px;
    border-radius: 1rem;
    font-size: 25px;
    transition: background-color 100ms ease-in-out;
}

.order_now_button:hover {
    background-color: #bcd7bc;
}

.footer_button {
    font-family: "Arial", sans-serif;
    font-size: 1.3rem;
    margin: 0.8rem;
    background: none;
    border: none;
    color: white;
    text-decoration: underline 0.1rem rgba(255, 255, 255, 0);
    transition: text-decoration-color 150ms ease-out;
}

.footer_button:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}