#full_body {
  background: #FAF3F0;
  margin: 0;
}

/* Color palette */
/* https://colorhunt.co/palette/faf3f0d4e2d4ffcaccdbc4f0 */

/* Headers classes */
.first_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#FFCACC, #FAF3F0);
  /*background: #FFCACC;*/
  margin: 0;
  /*border: #E8A0BF 10px solid;*/
  width: 100%;
  height: 7rem;
}

.header_section {
  display: flex;
  flex-direction: row;
  width: 33%;
}

.left_aligned {
  justify-content: start;
  padding-left: 2rem;
}

.middle_aligned {
  justify-content: center;
}

.right_aligned {
  justify-content: end;
  padding-right: 2rem;
}

.logo_container {
  padding: 0;
}

.second_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background: #49d55a;*/
  width: 100%;
  height: 3rem;
}

.first_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: #BA90C6 10px solid;*/
  width: 100%;
  font-size: 5rem;
}

/* Landing image classes */

.landing_image {
  display: flex;
  flex-direction: column;
  /*background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 10%, rgb(250, 243, 240) 100%), url("../img/backgrounds/landing_back.jpg");*/
  background-size: cover;
  /*height: 600px;*/
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.amigirumi_image {
  margin: 4rem;
}

.downwards_arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}


/* Site description classes */
.site_description_container {
  background-color: #FFCACC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 700px;

  font-size: 1.5rem;
  font-family: 'Comfortaa', sans-serif;
}

.animated_button_container {
  height: 300px;
  transition: text-shadow 100ms ease-in-out;
}

.order_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem 0;
}

/* Catalog classes */
.catalog_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}

.catalog_section {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 2rem;
}

.body_container_column {
  display: flex;
  flex-direction: column;
}

.body_container_row {
  display: flex;
  flex-direction: row;
}


/* Footer classes */

.footer_container {
  display: flex;
  flex-direction: row;
  background-color: #BA90C6;
  /*border: #C0DBEA 10px solid;*/
  padding: 0;
}

.footer_row_container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0;

  width: 100%;
}
/* reference for footer:
https://www.loreleisorrento.com/*/
.footer_section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 33%;
}

.footer_menu {
  padding-inline: 0;
  align-content: center;
  display: flow;
}

.footer_menu_item {
  list-style: none;
  align-content: center;
}

.legals_container {
  display: flex;
  flex-direction: row;
  background-color: #BA90C6;
  margin: 0;
  justify-content: center;
  padding: 0.7rem;
}

.legals_text {
  color: red;
}