#full_body {
  background: #FAF3F0;
  margin: 0;
}

/* Color palette */
/* https://colorhunt.co/palette/faf3f0d4e2d4ffcaccdbc4f0 */

/* Landing image classes */

.landing_image {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.landing_image img {
  object-fit: contain;
  height: 600px;
}

@media (max-width: 500px) {
  .landing_image img {
    height: 400px;
  }
}

.amigirumi_image {
  margin: 4rem;
  display: flex;
  z-index: -1;
}

.amigirumi_image_mobile {
  display: none;
  margin: 4rem;
  z-index: -1;
}

@media (max-width: 1500px) {
  .amigirumi_image {
    scale: 0.8;
  }
}

@media (max-width: 1250px) {
  .amigirumi_image {
    scale: 0.6;
  }
}

@media (max-width: 950px) {
  .amigirumi_image {
    display: none;
  }

  .amigirumi_image_mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
    .amigirumi_image_mobile {
      margin: 0;
      scale: 0.8;
    }
}

.downwards_arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}


/* Site description classes */
.site_description_container {
  background-color: #FFCACC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*height: 700px;*/

  font-size: 1.5rem;
  font-family: 'Comfortaa', sans-serif;
  padding: 5rem;
}

@media (max-width: 500px) {
  .site_description_container {
    padding: 2rem;
  }
}

.site_description_section {
  display: flex;
  flex-direction: row;
}

.animated_button_container {
  height: 300px;
  transition: text-shadow 100ms ease-in-out;
}

.order_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem 0;
}

/* Catalog classes */
.catalog_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  max-width: 100%;
}

.catalog_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2rem 0 2rem;
}

@media (max-width: 500px) {
  .catalog_section {
    justify-content: center;
  }
}

.body_container_column {
  display: flex;
  flex-direction: column;
}

.body_container_row {
  display: flex;
  flex-direction: row;
}

/* Other sections */

.seal_of_error_image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

/*@media (max-width: 800px) {*/
/*  .seal_of_error_image {*/
/*    scale: 0.8;*/
/*  }*/
/*}*/

/*@media (max-width: 650px) {*/
/*  .seal_of_error_image {*/
/*    scale: 0.6;*/
/*  }*/
/*}*/

.seal_of_error_image img {
  object-fit: contain;
}