#full_body {
  background: #FAF3F0;
  margin: 0;
}

/* Color palette */
/* https://colorhunt.co/palette/faf3f0d4e2d4ffcaccdbc4f0 */

/* Headers classes */
.first_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#FFCACC, rgba(255, 202, 204, 0));
  /*background: #FFCACC;*/
  margin: 0;
  /*border: #E8A0BF 10px solid;*/
  width: 100%;
  height: 8rem;
}

@media (max-width: 500px) {
  .first_header {
    height: 170px;
    width: 100%;
  }
}

.header_section {
  display: flex;
  flex-direction: row;
  width: 33%;
}

@media (max-width: 500px) {
  .header_section {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }
}

.logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

@media (max-width: 500px) {
  .logo_container {
    padding: 0;
  }
}

.logo_container img {
  object-fit: contain;
  width: 300px;
}

@media (max-width: 500px) {
  .logo_container img {
    width: 250px;
  }
}

.left_aligned {
  justify-content: start;
  padding-left: 2rem;
}

@media (max-width: 500px) {
  .left_aligned {
    padding-left: 0;
  }
}

.middle_aligned {
  justify-content: center;
}

.middle_aligned_footer {
  align-items: center;
}

.right_aligned {
  justify-content: end;
  padding-right: 2rem;
}

.right_aligned_footer {
  align-items: end;
  padding-right: 2rem;
  text-align: end;
}

.logo_container img {
  object-fit: contain;
  padding: 0;
  max-height: 300px;
}

.second_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background: #49d55a;*/
  width: 100%;
  height: 3rem;
}

.first_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: #BA90C6 10px solid;*/
  width: 100%;
  font-size: 5rem;
}

/* Landing image classes */

.landing_image {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.landing_image img {
  object-fit: contain;
  height: 600px;
}

@media (max-width: 500px) {
  .landing_image img {
    height: 300px;
  }
}

.amigirumi_image {
  margin: 4rem;
}

.amigirumi_image_mobile {
  display: none;
}

@media (max-width: 500px) {
  .amigirumi_image {
    display: none;
  }
  .amigirumi_image_mobile {
    display: flex;
    margin: 4rem;
  }
}

.downwards_arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}


/* Site description classes */
.site_description_container {
  background-color: #FFCACC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*height: 700px;*/

  font-size: 1.5rem;
  font-family: 'Comfortaa', sans-serif;
  padding: 5rem;
}

@media (max-width: 500px) {
  .site_description_container {
    padding: 2rem;
  }
}

.site_description_section {
  display: flex;
  flex-direction: row;
}

.animated_button_container {
  height: 300px;
  transition: text-shadow 100ms ease-in-out;
}

.order_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 2rem 0;
}

/* Catalog classes */
.catalog_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  max-width: 100%;
}

.catalog_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2rem 0 2rem;
}

@media (max-width: 500px) {
  .catalog_section {
    margin: 0;
    justify-content: center;
  }
}

.body_container_column {
  display: flex;
  flex-direction: column;
}

.body_container_row {
  display: flex;
  flex-direction: row;
}


/* Footer classes */

.footer_container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: #dab6e3;
  /*border: #C0DBEA 10px solid;*/
  padding: 0;
}

@media (max-width: 500px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
  }
}

.footer_row_container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0;

  width: 100%;
}
/* reference for footer:
https://www.loreleisorrento.com/*/
.footer_section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 33%;
}

@media (max-width: 500px) {
  .footer_section {
    width: 100%;
    align-items: center;
    padding: 0;
  }
}

.footer_menu {
  padding-inline: 0;
  align-content: center;
  display: flow;
}

.footer_menu_item {
  list-style: none;
  align-content: center;
}

.contact_section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0 0;
}

@media (max-width: 500px) {
  .contact_section {
    flex-direction: row;
    padding: 2rem 0 2rem 0;
  }
}

.contact_sub_section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.4rem;
}

.contact_info {
  display: flex;
  padding: 0.5rem;
}

.contact_icon {
  display: flex;
  padding: 0.08rem;
}

.legals_container {
  display: flex;
  flex-direction: row;
  background-color: #dab6e3;
  margin: 0;
  justify-content: center;
  padding: 0.7rem;
}

.legals_text {
  color: black;
  font-family: 'Comfortaa', sans-serif;
}

@media (max-width: 500px) {
  .legals_text {
    font-size: 0.8rem;
    text-align: center;
  }
}