.site_description_text {
    padding: 2rem;
}

.common_text_title_big {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

@media (max-width: 500px) {
    .common_text_title_big {
        font-size: 2rem;
    }
}

.common_text_title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.common_text_par_big {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.8rem;
}

@media (max-width: 500px) {
    .common_text_par_big {
        font-size: 1.2rem;
    }
}

.common_text_par_small {
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.common_text_par {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
}

@media (max-width: 500px) {
    .common_text_par {
        text-align: center;
    }
}

.light_color_text {
    color: #f8a4a6;
}

.location_text_footer {
    padding: 2rem;
}

@media (max-width: 500px) {
    .location_text_footer {
        padding: 2rem 0 2rem 0;
    }
}
